*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
#recruitment-widget .class {
    background: #0e0e0e url(https://cdn.guildwork.net/files/529f138ec16e4d36f91342f4/558dde7f002aa826379de9ea.png) no-repeat right top;
    height: 35px;
    padding: 3px 4px;
    -webkit-transition: all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
    clear: both;
    border-bottom: solid 5px #330d0d;
    max-width: 300px;
    margin: 0 auto;
}

#recruitment-widget .class.pld {
    background-position: 5px 0;
}
#recruitment-widget .class.drk {
    background-position: 5px -30px;
}
#recruitment-widget .class.war {
    background-position: 5px -60px;
}
#recruitment-widget .class.whm {
    background-position: 5px -90px;
}
#recruitment-widget .class.sch {
    background-position: 5px -150px;
}
#recruitment-widget .class.ast {
    background-position: 5px -120px;
}
#recruitment-widget .class.brd {
    background-position: 5px -180px;
}
#recruitment-widget .class.mch {
    background-position: 5px -360px;
}
#recruitment-widget .class.blm {
    background-position: 5px -210px;
}
#recruitment-widget .class.smn {
    background-position: 5px -330px;
}
#recruitment-widget .class.drg {
    background-position: 5px -240px;
}
#recruitment-widget .class.mnk {
    background-position: 5px -270px;
}
#recruitment-widget .class.nin {
    background-position: 5px -300px;
}

#recruitment-widget .class h3 {
    float: left;
    margin: 0 0 0 50px;
    padding: 0;
    font-size: 14px;
    color: #ddd;
    text-shadow: 1px 2px 5px #111,0 0 8px #000,0 0 10px #000;
    text-transform: uppercase;
    line-height: 24px;
}

.indicator {
    margin: 5px 0 0 30px;
    width: 12px;
    height: 12px;
    border-radius: 80%;
}
.high .indicator {
    background-color: #690;
    box-shadow: #000 0 -1px 7px 1px,inset #460 0 -1px 9px,#7d0 0 2px 12px;
    -webkit-animation: blinkGreen 3s infinite;
    -moz-animation: blinkGreen 3s infinite;
    -ms-animation: blinkGreen 3s infinite;
    -o-animation: blinkGreen 3s infinite;
    animation: blinkGreen 3s infinite;
}
.medium .indicator {
    background-color: #a90;
    box-shadow: #000 0 -1px 7px 1px,inset #660 0 -1px 9px,#dd0 0 2px 12px;
    -webkit-animation: blinkYellow 3s infinite;
    -moz-animation: blinkYellow 3s infinite;
    -ms-animation: blinkYellow 3s infinite;
    -o-animation: blinkYellow 3s infinite;
    animation: blinkYellow 3s infinite;
}
.low .indicator {
    background-color: #940;
    box-shadow: #000 0 -1px 7px 1px,inset #600 0 -1px 9px,#f00 0 2px 12px;
    -webkit-animation: blinkRed 3s infinite;
    -moz-animation: blinkRed 3s infinite;
    -ms-animation: blinkRed 3s infinite;
    -o-animation: blinkRed 3s infinite;
    animation: blinkRed 3s infinite;
}

