/* FFXIV - Recruits Needed Widget
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Made by: Skylix Azorus */
/* Originally Made for: Hephaestus Familia FC */

/* Module-Specific
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.background-image {
    background: url(https://i.imgur.com/gTB7IRj.png) no-repeat left top;
    height: 390px;
    width: 100%;
    z-index: -1;
}

h3 {
    margin: 0 0 0 50px;
    padding: 0;
    font-size: 14px;
    float: left;
    margin-left: 30px;
    color: #ddd;
    text-transform: uppercase;
    line-height: 30px;
}

p {
    text-align: left;
    margin: 3px;
    padding: 0;
    font-size: 14px;
}

.txt-shadow {
    text-shadow: 1px 2px 5px #111, 0 0 8px #000, 0 0 10px #000;
}

/* Classes
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.class {
    height: 30px;
    padding: 0;
    max-width: 300px;
    clear: both;
}

.class .pld { background-position: 5px 0 }
.class .drk { background-position: 5px -30px }
.class .war { background-position: 5px -60px }
.class .whm { background-position: 5px -90px }
.class .ast { background-position: 5px -120px }
.class .sch { background-position: 5px -150px }
.class .brd { background-position: 5px -180px }
.class .blm { background-position: 5px -210px }
.class .drg { background-position: 5px -240px }
.class .mnk { background-position: 5px -270px }
.class .nin { background-position: 5px -300px }
.class .smn { background-position: 5px -330px }
.class .mch { background-position: 5px -360px }

.high {
    color: #00FF00;
}

.medium {
    color: #FFFF00;
}

.low {
    color: #FF0000;
}